### TL; DR

This notebook tries to turn the comment indexed 3 into a dataframe and then apply detoxify to that dataframe to get our final result

In [1]:
import pandas as pd
from detoxify import Detoxify
import time

In [2]:
data_folder = './Data/' # all my data is in one folder 
path_comments='comments_glipse.csv.gz'

In [3]:
df_comments = pd.read_csv(data_folder + path_comments, compression='gzip') 
df_comments

                                              comments     video_id
0    [{'id': 'UgwG1f67Ru5kL3JXmDZ4AaABAg', 'author'...  39yZGhaJay8
1    [{'id': 'UgwDdeP0GiKI4ld_5Uh4AaABAg', 'author'...  FFm-ZpY7Fbo
2    [{'id': 'UgySPeVqINUhtngAtbx4AaABAg', 'author'...  yfNKExa846M
3    [{'id': 'UgyrDdhrXsWtzfv1Fbl4AaABAg', 'author'...  lCR0QTdSJfA
4    [{'id': 'UgzHfM3U-Jx3oueGlEp4AaABAg', 'author'...  nY4EB01ldOE
..                                                 ...          ...
209  [{'id': 'UgxRhHxqrascp2Wl9XR4AaABAg', 'author'...  QAeoUItnQpE
210  [{'id': 'UgwUu708JnCOMWgqEI54AaABAg', 'author'...  aEafDmdID70
211  [{'id': 'UgySC3F8dJnjv0ALIW94AaABAg', 'author'...  2OVoINOkLys
212  [{'id': 'UgwtUJyordw0yKULN6F4AaABAg', 'author'...  Ti2OUx3c6Ss
213  [{'id': 'UgwJNNN7oR-l3w8tk0Z4AaABAg', 'author'...  V9MDl4RC2_8

[214 rows x 2 columns]

In [6]:
X=df_comments.loc[3,"comments"]

In [7]:
list_=[] #creates a list with approximately one comment per item
for i in X.split("'id': "):
    list_.append(i)

In [8]:
list_df=[] #creates a list with just the comment text per item
for i in range (1,len(list_)): #we don't want list_[0] it's just "garbage"
    [no_keep, keep]=list_[i].split(" 'text': ")
    [text, no_keep]=keep.split(", 'likes'")
    list_df.append(text)

In [19]:
df_com=pd.DataFrame(data=list_df, columns=['comments'])

In [20]:
df_com

                                              comments
0    'This is one of those videos I’ll be coming ba...
1    'Yo Jeff , Upload these kinds of vids as Podca...
2                         'BrainForce95 I second that'
3    'People who espouse socialism NEED to be slapp...
4    'Someone resolve this mystery for me plz, I sa...
..                                                 ...
111                                         'Old guys'
112  'Creepy=unattractive+tension\nSexy=attractive+...
113  "Interest level. If she likes you, it flies. I...
114  "some women will find you creepy for the small...
115                                            'FIRST'

[116 rows x 1 columns]

In [11]:
results=Detoxify('unbiased').predict('jew')
print(pd.DataFrame(results, index=[0]).round(5))

   toxicity  severe_toxicity  obscene  identity_attack   insult   threat  \
0   0.04057          0.00011  0.00627          0.00825  0.00636  0.00025

   sexual_explicit
0          0.00094

In [24]:
df_com.shape[0]

116

In [35]:
df_com.loc[2, "comments"]

"'BrainForce95 I second that'"

In [38]:
N=df_com.shape[0]
N=3
list_detox_results=[]
for i in range(0, N):
    list_detox_results.append(Detoxify('unbiased').predict(df_com.loc[i, "comments"]))

In [39]:
list_detox_results

[{'toxicity': 0.0008361365,
  'severe_toxicity': 2.495947e-06,
  'obscene': 7.704473e-05,
  'identity_attack': 6.4939675e-05,
  'insult': 0.00012523835,
  'threat': 7.3382296e-05,
  'sexual_explicit': 3.5200217e-05},
 {'toxicity': 0.0013111982,
  'severe_toxicity': 2.672507e-06,
  'obscene': 0.00011780793,
  'identity_attack': 8.7914836e-05,
  'insult': 0.0002341912,
  'threat': 5.2079897e-05,
  'sexual_explicit': 5.508744e-05},
 {'toxicity': 0.0004342294,
  'severe_toxicity': 1.2943016e-06,
  'obscene': 3.108801e-05,
  'identity_attack': 7.480877e-05,
  'insult': 0.000100246514,
  'threat': 1.9219853e-05,
  'sexual_explicit': 1.090102e-05}]

In [40]:
toxic_df=pd.DataFrame(data=list_detox_results)

In [41]:
toxic_df

,toxicity,severe_toxicity,obscene,identity_attack,insult,threat,sexual_explicit
0,0.000836,0.000002,0.000077,0.000065,0.000125,0.000073,0.000035
1,0.001311,0.000003,0.000118,0.000088,0.000234,0.000052,0.000055
2,0.000434,0.000001,0.000031,0.000075,0.000100,0.000019,0.000011