In [1]:
import pandas as pd
import time

In [2]:
data_folder = './Data/' # all my data is in one folder 
path_sources_final='sources_final.csv'
path_df1='df_1.csv'
path_df2='df_2.csv'

In [3]:
#getting our necessary datasets
df_sources_final=pd.read_csv(data_folder + path_sources_final) #maps channel_id to extreme grp corresponding
df_1=pd.read_csv(data_folder + path_df1)
df_1=pd.read_csv(data_folder + path_df2)

In [21]:
#extracting only necessary columns
df_sources=df_sources_final[["Category", "Id"]]
df_sources.rename(columns = {'Id':'channel_id'}, inplace = True)

C:\Users\HOURS\AppData\Local\Temp\ipykernel_7012\2487438044.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sources.rename(columns = {'Id':'channel_id'}, inplace = True)

In [22]:
df_sources.head()

   Category                channel_id
0  Alt-lite  UCfDdlNLRVb1h3_7Xh-WhL3w
1  Alt-lite  UCso6oQ3qy7z61Fr8b0WNBMw
2  Alt-lite  UCplXdu0g94UynzYCmO2zOjw
3  Alt-lite  UCl3RCEtooHD5bhPCHJw3btA
4  Alt-lite  UCbukZErY9SjdGTHabMzY7qg

In [6]:
df_1.head()

,Unnamed: 0,video_map,view_count,upload_date,toxicity,severe_toxicity,obscene,identity_attack,insult,threat,sexual_explicit,channel_id
0,0,0,28635.0,20170509,0.323607,0.009534,0.159399,0.020259,0.135350,0.069637,0.025148,UCLoNQH9RCndfUGOb2f7E1Ew
1,1,1,27796.0,20181102,0.242296,0.004273,0.096748,0.012941,0.178031,0.003994,0.013273,UCLoNQH9RCndfUGOb2f7E1Ew
2,2,2,9400.0,20181207,0.406971,0.012217,0.156729,0.020969,0.305783,0.005351,0.046293,UCLoNQH9RCndfUGOb2f7E1Ew
3,3,3,1025.0,20180327,0.193374,0.000021,0.006812,0.000838,0.138445,0.001074,0.000351,UCLoNQH9RCndfUGOb2f7E1Ew
4,4,4,79422.0,20170508,0.292520,0.009161,0.115903,0.013214,0.176787,0.052853,0.017123,UCLoNQH9RCndfUGOb2f7E1Ew

In [7]:
print(len(df_1), len(df_sources_final))

150464 676

In [25]:
df_final=df_1.merge(df_sources, how='left', on='channel_id')

In [26]:
df_final

,Unnamed: 0,video_map,view_count,upload_date,toxicity,severe_toxicity,obscene,identity_attack,insult,threat,sexual_explicit,channel_id,Category
0,0,0,28635.0,20170509,0.323607,0.009534,0.159399,0.020259,0.135350,0.069637,0.025148,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
1,1,1,27796.0,20181102,0.242296,0.004273,0.096748,0.012941,0.178031,0.003994,0.013273,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
2,2,2,9400.0,20181207,0.406971,0.012217,0.156729,0.020969,0.305783,0.005351,0.046293,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
3,3,3,1025.0,20180327,0.193374,0.000021,0.006812,0.000838,0.138445,0.001074,0.000351,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
4,4,4,79422.0,20170508,0.292520,0.009161,0.115903,0.013214,0.176787,0.052853,0.017123,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150459,150459,798,56069.0,20170127,0.327090,0.013587,0.205679,0.050272,0.182447,0.001762,0.053731,UC0aVoboXBUx2-tVIWHc3W2Q,Alt-lite
150460,150460,799,154838.0,20161018,0.209794,0.007211,0.134747,0.027038,0.094364,0.010686,0.024407,UC0aVoboXBUx2-tVIWHc3W2Q,Alt-lite
150461,150461,800,30093.0,20180326,0.237014,0.004566,0.083292,0.062911,0.147315,0.001810,0.019613,UC0aVoboXBUx2-tVIWHc3W2Q,Alt-lite
150462,150462,801,93406.0,20171219,0.309945,0.009368,0.155549,0.086939,0.165149,0.011248,0.023771,UC0aVoboXBUx2-tVIWHc3W2Q,Alt-lite
150463,150463,802,136713.0,20171012,0.222783,0.007256,0.102101,0.039300,0.123024,0.010856,0.036459,UC0aVoboXBUx2-tVIWHc3W2Q,Alt-lite

In [27]:
df_final[df_final.isnull().any(axis=1)]

,Unnamed: 0,video_map,view_count,upload_date,toxicity,severe_toxicity,obscene,identity_attack,insult,threat,sexual_explicit,channel_id,Category
0,0,0,28635.0,20170509,0.323607,0.009534,0.159399,0.020259,0.135350,0.069637,0.025148,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
1,1,1,27796.0,20181102,0.242296,0.004273,0.096748,0.012941,0.178031,0.003994,0.013273,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
2,2,2,9400.0,20181207,0.406971,0.012217,0.156729,0.020969,0.305783,0.005351,0.046293,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
3,3,3,1025.0,20180327,0.193374,0.000021,0.006812,0.000838,0.138445,0.001074,0.000351,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
4,4,4,79422.0,20170508,0.292520,0.009161,0.115903,0.013214,0.176787,0.052853,0.017123,UCLoNQH9RCndfUGOb2f7E1Ew,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135245,135245,10258,84632.0,20180502,0.317704,0.000621,0.019622,0.036690,0.253835,0.006785,0.004934,UCaXkIU1QidjPwiAYu6GcHjg,NaN
135246,135246,10259,36824.0,20170510,0.282003,0.000185,0.007136,0.001785,0.236074,0.002362,0.023170,UCaXkIU1QidjPwiAYu6GcHjg,NaN
135247,135247,10260,30686.0,20190215,0.220740,0.000085,0.007237,0.024008,0.169914,0.001888,0.000254,UCaXkIU1QidjPwiAYu6GcHjg,NaN
135248,135248,10261,32961.0,20171204,0.185230,0.000165,0.013683,0.013409,0.141649,0.010528,0.015241,UCaXkIU1QidjPwiAYu6GcHjg,NaN
135249,135249,10262,22394.0,20180807,0.162078,0.000254,0.002221,0.003764,0.109782,0.021308,0.000335,UCaXkIU1QidjPwiAYu6GcHjg,NaN